[submodule ".cursor"]
	path = .cursor
	url = https://github.com/elizaOS/.cursor
[submodule "packages/docs"]
	path = packages/docs
	url = https://github.com/elizaos/docs
[submodule "packages/plugin-action-bench"]
	path = packages/plugin-action-bench
	url = https://github.com/elizaos-plugins/plugin-action-bench
