label live-amd64
	menu label ^Live system (amd64)
	menu default
	linux /live/vmlinuz
	initrd /live/initrd.img
	append boot=live components quiet splash loglevel=3 rd.systemd.show_status=false vt.global_cursor_default=0 console=tty0 console=ttyS0,115200 live-media=removable live-config.username=eliza live-config.user-fullname=Eliza live-config.user-default-groups=audio,cdrom,video,plugdev,netdev,sudo,render,input live-config.hostname=usbeliza live-config.timezone=UTC live-config.locales=C.UTF-8 live-config.keyboard-layouts=us noeject persistence persistence-encryption=luks,none

label live-amd64-failsafe
	menu label Live system (amd64 fail-safe mode)
	linux /live/vmlinuz
	initrd /live/initrd.img
	append boot=live components memtest noapic noapm nodma nomce nosmp nosplash vga=788
